*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
#response-header{
    display: none;
}
#extension-header{
    color: #FFCB05;
}
#extension-div{
    background-color:#00274C;
    display: flex;
    padding: 20px;
}
#main{
    padding: 10px;

}
#label-div{
    padding-bottom: 10px;
}
.action-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-gif {
    max-height: 5px; /* Adjust based on your preference */
    margin-left: 100px;
}
.button{
    background-color: #FFCB05;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 900;
    cursor: pointer;
    border:none;
}
.button:hover{
    background-color: #ffc002;
    border-radius: 5px;
    padding: 5px;
    color:white;
    font:bolder;
    cursor: pointer;
}
.button:active{
    background-color: #00274C;
    color:#FFCB05
}
#goose-container{
    display: none;
}